<%= turbo_frame_tag dom_id(post) do %>
  <% @post = post %>
  <div style="border: 2px solid #ff0000; margin: 10px; padding: 10px;">
    <div>
      <p>
        <%= post.body %>
      </p>
    </div>
    <h6>Comments</h6>
    <div>


      <%= turbo_stream_from "comments" %>
        <%= render "comments/form", comment: @comments %>
      <%= turbo_frame_tag "comments" do %>
        <%= render post.comments %>
      <% end %>
    </div>
  </div>

<% end %>